* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-header-div {
  padding-left: 25px;
  border: 2px solid rgb(6, 107, 6);
  background: #036b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;

  .logo {
    background-image: url(src/assets/images/senai_logo.png);
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 235px;
  }

  .nav-menu { 
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      border: none;
      background-color: transparent;
      border-radius: 3px;
      text-align: center;
      height: 100%;
      width: 170px;

      span {
        font-size: 17px;
        color: rgb(224, 224, 224);
      }

      .fa {
        font-size: 30px;
        padding-bottom: 5px;
      }

    }
    button:active {
      outline: none;
      border: 0;
      border: none; 
    }
    
    button:hover {
      background-color: rgb(9, 73, 9);
      cursor: pointer;
    }
  }

  .right-content {
    display: flex;
    height: 100%;

    .logout {
      align-self: center;
      border: 1px solid red;
      height: 70%;
      width: 50px;
      border: none;
      background-color: transparent;
      border-radius: 3px;

      span {
        font-size: 17px;
        color: rgb(224, 224, 224);
      }

      .fa {
        font-size: 25px;
      }
    }

    .logout:hover {
      cursor: pointer;
    }

    .user-profile {
      background-image: url(src/assets/images/fake-user.png);
      height: auto;
      width: auto;
      background-size: contain;
      
      border: 1px solid rgb(224, 224, 224);
      border-radius: 50%;
      height: 75px;
      width: 75px;
    }
  }
}