<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main-header-div">

  <div class="logo"></div>

  <nav class="nav-menu">
      <button routerLink="pesquisa-questao">
          <span class="fa fa-search"></span>
          <span>Pesquisar Questões</span>
        </button>

      <button routerLink="cadastro-questao">
        <span class="fa fa-pencil-square-o"></span>
        <span>Cadastrar Questões</span>
      </button>
      
      <button routerLink="validacao-questao">
        <span class="fa fa-check-square-o"></span>
        <span>Validar Questões</span>
      </button>
  </nav>
  <div class="user-profile"></div>
</div>