<div class="main-div">
  <div class="container">
    <h2>Cadastre uma Questão</h2>

    <form [formGroup]="questionForm">
      <span>Título</span>
      <textarea formControlName="title"></textarea>

      <span>Suporte</span>
      <textarea formControlName="support"></textarea>

      <span>Comando</span>
      <textarea formControlName="command"></textarea>

      <span>Alternativa A</span>
      <textarea formControlName="answer_a"></textarea>

      <span>Alternativa B</span>
      <textarea formControlName="answer_b"></textarea>

      <span>Alternativa C</span>
      <textarea formControlName="answer_c"></textarea>
      
      <span>Alternativa D</span>
      <textarea formControlName="answer_d"></textarea>

      <span>Alternativa E</span>
      <textarea formControlName="answer_e"></textarea>

      <span>Resposta Correta:</span>
      <select formControlName="correct_answer">
          <option value="a" selected>Alternativa A</option>
          <option value="b">Alternativa B</option>
          <option value="c">Alternativa C</option>
          <option value="d">Alternativa D</option>
          <option value="d">Alternativa E</option>
      </select>

    </form>

    <button (click)="submit()">Cadastrar</button>
  </div>
</div>