.container {

  display: flex;
  flex-direction: column;
  align-items: center;


  form {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;

    span {
      padding-left: 15px;
    }
  }

  .button-area {
    border: 1px solid green;
  }

  textarea{
    width: 100%;
    margin-bottom: 20px;
  }
}