<div class="main-div">
  <div class="container box">
    <h2>Seja Bem Vindo!</h2>

    <div class="home-text">
      <p>
        &nbsp; &nbsp; Amet justo donec enim diam vulputate ut. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque.
        Pellentesque adipiscing commodo elit at imperdiet. Donec et odio pellentesque diam. Nisi est sit amet facilisis magna etiam tempor.
        Aliquam sem fringilla ut morbi. Proin nibh nisl condimentum id venenatis a condimentum vitae. Nisl condimentum id venenatis a condimentum.
        In fermentum et sollicitudin ac.
      </p>

      <p>
        &nbsp; &nbsp;Convallis convallis tellus id interdum velit laoreet. Semper auctor neque vitae tempus quam pellentesque nec. 
        Proin nibh nisl condimentum id. Varius vel pharetra vel turpis nunc eget lorem dolor. 
        Tempus egestas sed sed risus pretium quam vulputate dignissim. Tortor consequat id porta nibh venenatis cras. 
        Congue mauris rhoncus aenean vel elit scelerisque mauris. 
      </p>

      <p>
        &nbsp; &nbsp;Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. 
        Integer malesuada nunc vel risus. Felis imperdiet proin fermentum leo. 
        Non nisi est sit amet facilisis magna. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. 
        Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. 
      </p>

      <p>
        &nbsp; &nbsp;Tempus egestas sed sed risus pretium quam vulputate dignissim. Tortor consequat id porta nibh venenatis cras. 
        Congue mauris rhoncus aenean vel elit scelerisque mauris. 
        Amet justo donec enim diam vulputate ut. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque.
        Pellentesque adipiscing commodo elit at imperdiet. Donec et odio pellentesque diam. Nisi est sit amet facilisis magna etiam tempor.
        Aliquam sem fringilla ut morbi. Proin nibh nisl condimentum id venenatis a condimentum vitae. Nisl condimentum id venenatis a condimentum.
        In fermentum et sollicitudin ac.
      </p>
    </div>

  </div>
</div>